body{
    display: flex;
    height: 100vh;
    margin: 10px;
    font-family: sans-serif;
}

.container{
    margin: auto;
    width: 60%;
    display: grid;

    /* La propriété "grid-gap" permet de définir un espace entre les éléments constituant le tableau */
    grid-gap: 4px;
    
    /* La notion de fraction (fr) permet de définir une taille automatiquement 
    qui se base sur le nombre de fraction que doit occuper chaque espace...  */
    grid-template-columns: 4fr 1fr 2fr;
    /*
    Dans l'exemple ce-dessus, nous divisons notre grille en 3 colonnes :
        - La première occupe un espace de 4 fractions;
        - La seconde occupe un espace d'une seule fraction;
        - Et la troisième et dernière colonne occupe un espace de 2fr.
    La taille d'une fraction est calculé automatiquement. 
    Par exemple, admettons que le tableau ait une largeur de 1400 px, 
    vu que nous le divisons ici en 7 fractions ( 4fr + 1fr + 2fr = 7fr ), 
    chaque fraction aura une valeur de 1400 px divisé par 7, soit 200 px. 
    
    Dans ce cas de figure, la première colonne aura une largeur de 800 px ( 4 * 200 ),
    la seconde aura une largeur de 200 px ( 1 * 200 )
    et la troisième aura une largeur de 400 px ( 2 * 200 ).

    Ce qui est intéressant dans l'unité fr, c'est que sa valeur s'adapte automatiquement.
    Ainsi, peu importe si la page est redimensionnée ou si elle s'affiche sur 
    des supports de différentes dimensions, la dimension des cases consitutant 
    la grille s'adapteront automatiquement à la dimension réelle de celle-ci. 
    */
}

.container > div{
    padding: 10px;
    font-size: 2em;
    text-align: center;
    color: white;

    opacity: 0.5;
}


/* Les lignes qui suivent servent à colorer différenmment les éléments */
.container > div:nth-child(1n){
    background-color: rgb(218, 135, 28);
}
.container > div:nth-child(2n){
    background-color: rgb(15, 129, 206);
}
.container > div:nth-child(3n){
    background-color: rgb(151, 84, 240);
}
/* .container > div:nth-child(4n){
    background-color: rgb(30, 179, 0);
} */

.container > div:hover{
    opacity: 1;
}